@import url('https://fonts.googleapis.com/css2?family=Pushster&display=swap'); /*font-family: 'Pushster', cursive;*/

body{
    background-color: whitesmoke;
    height: 100%;
    width: 100%;
}

header {
    background-color: whitesmoke;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    padding: 1% 1%;
}

.headerTitle{
    width: 95%;
}

.headerTitle h1{
    margin: 0px;
}

.headerButton{
    background-color: lightgrey;
    border: grey 2px solid;
    border-radius: 25%;
    padding: 0.3rem;
    padding-bottom: 0.1rem;
}

.headerButton:hover{
    cursor:pointer;
}

header h1 {
    font-family: 'Pushster', cursive;
    font-size: 4rem;
    color: black;
    margin: 1rem;
}

.stock{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    column-gap: 1rem;
    width: 100%;
    margin-bottom: 2%;
}

.stock > div{
    width: 20%;
}

.stock > div > h3{
    font-family: 'Pushster', cursive;
    font-size: x-large;
    color: white;
    margin-left: 5%;
}

.stock > div > p{
    margin-left: 5%;
    font-weight: 600;
}

.available > div {
    background-color: green;
}

.outof > div {
    background-color: lightgray;
    opacity: 60%;
}

.outof > div > h3{
    color: black
}

.stock div img{
    width: 80%;
    margin: 5% 10%;
    clip-path: circle(50% at center);
}

.cart{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    column-gap: 1rem;
    width: 100%;
}

.cart > div{
    width: 20%;
    background-color: green;
    border-color: darkgreen;
    border-left: 1rem;
    border-bottom: 1rem;
}

.cart > div > h3{
    font-family: 'Pushster', cursive;
    font-size: x-large;
    color: white;
    margin-left: 5%;
}

.cart > div > p{
    margin-left: 5%;
    font-weight: 600;
}

.cart div img{
    width: 80%;
    margin: 5% 10%;
    clip-path: circle(50% at center);
}

.button-container{
    display: flex;
    justify-content: center;
    margin: 5% 0px;
}

.button-container input{
    background-color: darkgreen;
    color: white;
    border: 1px white solid;
    padding: 0.1rem 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

.button-container input:hover{
    cursor:pointer;
}

.button-container input:disabled{
    color: black;
    background-color: grey;
    text-decoration: line-through;
    border: none;
    cursor: default;
}